.form {

    &__group:not(:last-child) {
        margin-bottom: 1.5rem;
    }

    &__input {
            font-family: inherit;
            font-size: 1.5rem;
            
            padding: 1.5rem 2rem;
            border-radius: 2px;
            background-color: rgba($color-white, .9);
            border: none;
            display: block;
            width: 100%;
            border-bottom: 1px solid transparent;
            transition: all .4s;


        &:focus {
            outline: none;
            box-shadow: 0rem 1rem 2rem rgba($color-black, .1);
            border-bottom: 1px solid green;

            &:invalid {
                border-bottom: 1px solid orangered;
            }

        }

        &::-webkit-input-placeholder {
            color: $color-grey-2;
        }
    }

    &__label {
        font-size: 1.2rem;
        color: $color-grey-2;
        font-weight: 700;
        padding: 1.5rem 2rem;
        display: block;
        transition: all .5s;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &__radio-group {
        width: 49%;
        display: inline-block;
    }

    &__radio-input {
        opacity: 0;
    }

    &__radio-label {
        font-size: $default-font-size;
        color: $color-grey-2;
        cursor: pointer;
        padding-left: 3rem;
        position: relative;
    }

    &__radio-button {
        width: 3rem;
        height: 3rem;
        border: 3px solid $color-darken;
        border-radius: 50%;
        position: absolute;
        top: -.2rem;
        left: -1rem;

        &::after {
            content: '';
            display: block;
            width: 1.3rem;
            height: 1.3rem;
            border-radius: 50%;
            border: 3px solid $color-darken;
            background-color: $color-darken;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: opacity .2s;
        }

    }

    &__radio-input:checked ~ &__radio-label &__radio-button::after {
        opacity: 1;
    }

    
}